@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

*{margin: 0px;}

.brightfield-icon{
    height: 2cm;
    width: 3cm;
}
.set-slide-width{
   opacity: 0.7;
}

.Image1InSlide{
    background-image: url("./images/class_session_kids.JPG");
    background-attachment: fixed;
    width: 100%;
    height: 20cm;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(129, 156, 248);
    background-blend-mode: multiply;
    opacity: 0.7;
}

.Image2InSlide{
    background-image: url("./images/class_session_photo\ \(3\).JPG");
    background-attachment: fixed;
    width: 100%;
    height: 20cm;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(129, 156, 248);;
    background-blend-mode: multiply;
    opacity: 0.7;
}

.Image3InSlide{
    background-image: url("./images/Kids-group-\ photo3.JPG");
    background-attachment: fixed;
    width: 100%;
    height: 20cm;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(129, 156, 248);;
    background-blend-mode: multiply;
    opacity: 0.7;
}
/*
.Image4InSlide{
    background-image: url("./images/class_session_kids.JPG");
    background-attachment: fixed;
    width: 100%;
    height: 20cm;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(129, 156, 248);;
    background-blend-mode: multiply;
    opacity: 0.7;
}

.Image5InSlide{
    background-image: url("./images/class_session_photo (2).JPG");
    background-attachment: fixed;
    width: 100%;
    height: 20cm;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(129, 156, 248);;
    background-blend-mode: multiply;
    opacity: 0.7;
}
*/

.welcome-container{
    position: absolute;
    top: 5cm;
    text-align: center;
    color: black;
    left: 27%;
}

.welcome-container > h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
    color: #dc3545;
    font-size: 50px;
}
.welcome-container > p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
    color: black;
    margin-top: 1.5cm;
    font-size: 25px;
}

/* This will make our welcome text jump*/
/* This will make our welcome text jump*/

h1 {
    height: 100px;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One'cursive;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 green,
        0 2px 0 green,
        0 3px 0 green,
        0 4px 0 green,
        0 5px 0 green,
        0 6px 0 transparent,
        0 7px 0 transparent,
        0 8px 0 transparent,
        0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
    animation-delay: .5s;
}

h1 span:nth-child(3) {
    animation-delay: .2s;
}

h1 span:nth-child(4) {
    animation-delay: .3s;
}

h1 span:nth-child(5) {
    animation-delay: .4s;
}

h1 span:nth-child(6) {
    animation-delay: .5s;
}

h1 span:nth-child(7) {
    animation-delay: .6s;
}

h1 span:nth-child(8) {
    animation-delay: .7s;
}

@keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 #CCC,
            0 7px 0 #CCC,
            0 8px 0 #CCC,
            0 9px 0 #CCC,
            0 50px 25px rgba(0, 0, 0, 0.2);
    }
}

/* the page content css */
/* the page content css */

.about-services-container{
    font-size: 30px;
    margin-left: 0.3cm;
    margin-top: 0.7cm;
    border: outset;
    line-height: 0.8cm;
    font-family: 'Dongle', sans-serif;
}
.about-text{
    font-size: 40px;
    
}
/*aboutTheManager-and-ourServices-section*/
.oliver-picture{
    height: auto;
    width: 100%;
}

/*grid for early starters*/
.early-starters-details-grid{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#imageInCard{
    width: 100%;
    height: auto;
}

#card-title{
    font-size: 35px;
    font-weight: bold;
}
.btn{
    font-size: 30x;
}

/* coding for kids section */
.kids-images{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.kids-images > img{
    height: auto;
    width: 100%;
}

    
@media screen and (max-width:700px){
    .Image1InSlide, .Image2InSlide, .Image3InSlide{
        height: 10cm;
    }
    
    .welcome-container{
        left: 16%;
        top: 4cm;
    }
    .welcome-container > p{
        font-size: 20px;
    }
    .welcome-container > h1{
        font-size: 30px;
    }
    .about-services-container{
        font-size: 25px;
        margin-left: 0cm;
        margin-top: 0.2cm;
        line-height: 0.7cm;
        width: 100%;
    }
    .about-text{
        font-size: 40px;
        
    }
    #imageInCard{
        width: 100%;
        height: auto;
    }
    #card{
        width: 80%;
    }
    .early-starters-details-grid{
       grid-template-columns: 1fr;
       width: 80%;
}

}